@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "boombox";
  src: url("/boombox.ttf");
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0 0);
  --color-base-200: oklch(14% 0.005 285.823);
  --color-base-300: oklch(21% 0.006 285.885);
  --color-base-content: oklch(96% 0.001 286.375);
  --color-primary: oklch(0.6958 0.204259 43.491);
  --color-primary-content: oklch(27% 0.077 45.635);
  --color-secondary: oklch(66% 0.179 58.318);
  --color-secondary-content: oklch(41% 0.112 45.904);
  --color-accent: oklch(74% 0.16 232.661);
  --color-accent-content: oklch(29% 0.066 243.157);
  --color-neutral: oklch(27% 0.006 286.033);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(71% 0.202 349.761);
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}


@layer utilities {
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }
  
  .animate-slow-spin {
    animation: spin 12s linear infinite;
  }
  
  .animate-reverse-spin {
    animation: reverse-spin 10s linear infinite;
  }
}

.styled-font {
  font-family: "boombox"
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes reverse-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
